<div class="movie-isolated">
  <h1 data-test-movie-isolated-title>Title: {{content.title}}</h1>
  <h1 data-test-movie-isolated-year>Year: {{content.year}}</h1>
  <h1 data-test-movie-isolated-genre>Genre: {{content.genre}}</h1>
  <h1 data-test-movie-isolated-short-summary>Short Summary: {{content.summary}}</h1>
  <h1 data-test-movie-isolated-playing>Currently Playing: {{#if content.playing}} Yes {{else}} No {{/if}}</h1>
  <h1 data-test-movie-isolated-notes>Notes: {{content.notes}}</h1>
</div>
<br><br><br>
<h3><a href='/'>Click to go back to the list.</a></h3>