<div class="main-board-isolated">
{{#mock-login as |login|}} <button class='btn-edit' {{action login}}>Edit Content</button>{{/mock-login}}
  <h1 class="main-board-isolated-title" data-test-main-board-isolated-title>{{content.title}}</h1>
    <div class='btn-group'>
      <button class='btn btn1' {{action showSelectedMovies 'watchedMovies'}}>Watched Movies</button>
      <button class='btn btn2' {{action showSelectedMovies 'currentlyWatchingMovies'}}>Currently Watching Movies</button>
      <button class='btn btn3' {{action showSelectedMovies 'toWatchMovies'}}>To Watch Movies</button>
    </div>
  {{#if showBoard}}
    <h2 class='main-board-isolated-subtitle'>{{subTitle}}</h2>
    {{#if (eq movieAmount 1)}}
      <p class="main-board-isolated-movie-count" data-test-main-board-isolated-title>There is 1 movie on this list.</p>
    {{else}}
      <p  class="main-board-isolated-movie-count" data-test-main-board-isolated-title>There are {{movieAmount}} movies on this list.</p>
    {{/if}}
    <hr>
    <div class="movie-list">
        {{#cs-field content selectedStatue as |movies|}}
          {{#each movies as |movie|}}
            {{cardstack-content content=movie format='embedded'}}
          {{/each}}
        {{/cs-field}}
    </div>
  {{/if}}
</div>