{{#if (is-component "cardstack-session")}}
  {{#cardstack-session as |session|}}
    {{#if true}}
      {{#github-login as |login|}}
        {{yield session login}}
        <button class='btn-edit' {{action login}}>
          Edit Content
        </button>
      {{/github-login}}
    {{else if session.isAuthenticated}}
      <button
        class="btn-edit"
        id="logout-button"
        onclick={{action session.logout}}
      >
        Log out
      </button>
    {{else}}
      {{#mock-login as |login|}}
        <button class='btn-edit' {{action login}}>
          Edit Content
        </button>
      {{/mock-login}}
    {{/if}}
  {{/cardstack-session}}
{{/if}}